# file: /etc/systemd/system/gunicorn3.service (sudo)
# set up gunicorn3 service
# `sudo systemctl daemon-reload`
# `sudo service gunicorn3 restart`
# `service gunicorn3 status`  # should have 4 tasks

[Unit]
Description=Gunicorn.service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/bookshelf
ExecStart=/usr/bin/gunicorn3 --workers 3 --bind unix:bookshelf.sock -m 007 app:app
